<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cacti Encyclopedia</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="">
        <a class="logo" th:href="@{/}" ><img src="/images/Logo.png" alt="Logo"></a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/catalog}">Families Catalog</a>
                </li>
                <li class="nav-item col-md-4" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white active h5" th:href="@{/catalog/species/add}">Add Species</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/catalog/all}">Species Catalog</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/about}">About</a>
                </li>

                <li class="nav-item col-md-4" sec:authorize="isAnonymous()">
                    <a class="nav-link text-white active h5" th:href="@{/auth/login}">Login</a>
                </li>

                <li class="nav-item col-md-4" sec:authorize="isAnonymous()">
                    <a class="nav-link text-white active h5" th:href="@{/auth/register}">Register</a>
                </li>

                <li class="nav-item col-md-4" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white active h5" th:href="@{/auth/logout}">Logout</a>
                </li>

                <li class="nav-item col-md-4" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white active h5" th:href="@{/user/my-profile}">My Profile</a>
                </li>


            </ul>
            <ul class="navbar-nav row" sec:authorize="hasRole('ADMIN')">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/administration/species}">Species Administration</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/administration/users}">Users Administration</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/catalog/add-family}">Add Family</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer class="footer py-2 fixed-bottom">
        <p class="h5 text-white text-center">
            &copy; Tuttee 2025. All rights reserved.
        </p>
</footer>
</body>
</html>