@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

@font-face {
    font-family: 'Jokerman';
    src: url("fonts/Jokerman.otf");
}


main {
    font: 14px Inder, sans-serif;
    margin-bottom: 150px;

}

nav {
    font-family: 'Inder', sans-serif;
    background-image: url("/images/cacti_cartoon.png");
    background-position: center;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*gap: 20px;*/
}

nav > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 62px;
}

.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    align-content: space-evenly;
    /*justify-content: center;*/
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

nav a {
    display: flex;
    font-size: 20px;
    color: white;
    text-shadow: 1px 0 5px black;
    margin-inline: 15px;
    background-color: rgba(28, 116, 48, 0.25);
    backdrop-filter: blur(5px);
    padding: 5px 15px;
    border: 1px solid rgba(20, 81, 35, 0.25);
    border-radius: 25px;
    /*transition: 3s ease-in-out;*/
}

nav a:hover {
    /*box-shadow: black 2px ;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-decoration: none;
    text-underline: none;
    color: whitesmoke;

}

.nav-admin {
    margin: 0;
}

.logo {
    background-color: #8A9964;
    /*overflow: hidden;*/
    border-radius: 0 15px 15px 0;
    margin: 0;
    align-content: center;
    border: 0;
    /*height: 140px;*/
}

.logo img {
    width: 300px;
    object-fit: contain;

}

footer {
    background-image: url("/images/cacti_cartoon.png");
    background-size: cover;
    background-position: center;
    bottom: 0;
    width: 100%;
    /*height: 50px;*/
    text-align: center;
    height: 140px;
    align-content: center;
    position: fixed;
    clear: both;
}

footer p {
    display: inline;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
    margin-bottom: 0;
    font: 20px 'Jokerman';
    color: whitesmoke;
    background-color: rgba(28, 116, 48, 0.25);
    backdrop-filter: blur(5px);
    padding: 5px 15px;
    border: 1px solid rgba(20, 81, 35, 0.25);
    border-radius: 25px;
    text-shadow: 1px 0 5px black;
}

/*.nav-admin {*/
/*    justify-content: center;*/
/*}*/

.w-15 {
    width: 15%;
}

.bg-gray {
    /*background-color: #e9ecef;*/
}

.bg-nav {
    /*background-color: rgba(1, 141, 8, 0);*/
}


body {
    /*background-image: url(/img/background.jpg);*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background: #F3DADA;
    /*margin-bottom: 5rem;*/
}

form.form-submit {
    display: flex;
    flex-direction: column;
    max-width: 705px;
    margin: 80px auto 0;
    padding: 0 70px;
    overflow: hidden;
    color: black;
}

form h1 {
    margin-top: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid #8A9964;
    text-align: center;
}

form.form-submit label {
    margin-top: 65px;
    font-size: 20px;
}

input, select, textarea {
    background-color: #FCF8EE;
    border: 1px solid #8A9964;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

input, select {
    height: 39px;
}

textarea {
    height: 100px;
}

input::placeholder, select .placeholder {
    color: #5A5A5A;
}

.error {
    font-size: 12px;
    color: #e22d2d;
    text-align: right;
}

.submit-btn {
    background-color: #8A9964;
    color: #faefd6;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 0;
    margin-top: 80px;
    max-width: fit-content;
    align-self: center;
}

/*textarea {*/
/*    resize: none;*/
/*}*/


/*.img-thumb {*/
/*    padding: .25rem;*/
/*    background-color: #fff;*/
/*    border: 1px solid #dee2e6;*/
/*    border-radius: .25rem;*/
/*    max-width: 100%;*/
/*}*/

/*.bg-blur {*/
/*    background-color: rgb(0, 0, 0); !* Fallback color *!*/
/*    background-color: rgba(0, 0, 0, 0.8); !* Black w/opacity/see-through *!*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    border: 3px solid #f1f1f1;*/
/*    z-index: 2;*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    border-radius: 50px;*/
/*}*/

/*.mySticky {*/
/*    position: sticky;*/
/*    left: 0;*/
/*}*/