<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="">About</h1>

    <div class="about-container">
        <div>
            <img class="about-image img-float-left" src="/images/about.jpg" alt="About Cacti Image">
            <h5>Purpose and Mission</h5>
            <p>Encyclopedia Cacti is a resource for all impassioned of Cacti around the world. It aims to be a
                comprehensive encyclopedia for all cacti species.
                <br>
                <br>
                The encyclopedia provides the Accepted Latin name for most species, subspecies, variety, forms and
                cultivars, linked to their Genera. The encyclopedia is regularly updated with information.
                <br>
                <br>
                Here you can not only explore all kinds of facts about cacti and their different kinds of species, but
                you can also share new species and fascinating hybrids by signing in and visiting the Add Species page.
                <br>
                <br>
                The mission of this application is to spread the love for cacti, bridging the gap between these unique
                plants and people all over the world. Cacti bring a modern sense of style, joy, and tranquility to any
                space they inhabit.
                <br>
                <br>
                *This application is part of SoftUni Online Project Defense for Spring Advanced February 2025 course.
            </p>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
