<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <form class="form-submit" th:method="POST" th:action="@{/add-fact}" th:object="${addFact}">
        <h1 class="text-center mt-2"><span class="">Add Fact</span></h1>
        <div class="success-message" th:if="${success == true}">Fact Added!</div>

        <div class="">
                <label for="content" class="">Content</label>
            </div>

            <input type="text" class="" id="content" name="content" th:value="*{content}" placeholder="Enter content" required/>
            <small class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Name error message</small>


            <button class="submit-btn" type="submit">Add fact</button>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
