<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <h1 class=""><span class="">Add Genera</span></h1>
    <form class="form-submit" th:method="POST" th:action="@{/catalog/add-genera}" th:object="${addGenera}">
        <div class="field">
            <label for="name" class="">Genera Name*</label>
            <input type="text" class="" id="name" name="name" th:value="*{name}" placeholder="Enter name" required/>
            <small class="error" style="font-size: 15px" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                error message</small>
            <small class="error" th:if="${generaAlreadyExistsMessage}" th:text="${generaAlreadyExistsMessage}">error message</small>
        </div>

        <div class="field">
            <label for="imageURL" class="">Image URL*</label>
            <input type="text" class="" id="imageURL" name="imageURL" th:value="*{imageURL}"
                   placeholder="Enter image URL" required/>
            <small class="error" style="font-size: 15px" th:if="${#fields.hasErrors('imageURL')}"
                   th:errors="*{imageURL}">Name error message</small>
        </div>


        <button class="submit-btn" type="submit" value="Register">Add genera</button>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
