<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <form class="form-submit" th:method="POST" th:action="@{/catalog/add-family}" th:object="${addFamily}">
        <h1 class="text-center mt-2"><span class="">Add Family</span></h1>
            <div class="">
                <label for="name" class="">Species Name</label>
            </div>

            <input type="text" class="" id="name" name="name" th:value="*{name}" placeholder="Enter name" required/>
            <small class="error" style="font-size: 15px"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</small>

            <div class="">
                <label for="imageURL" class="">Image URL</label>
            </div>

            <input type="text" class="" id="imageURL" name="imageURL" th:value="*{imageURL}" placeholder="Enter image URL" required/>
            <small class="error" style="font-size: 15px"  th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}">Name error message</small>


            <button class="submit-btn" type="submit" value="Register">Add family</button>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
