<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="">Genera Catalogue</span></h1>

    <div class='catalog'>
        <div class="card-container">
            <div class="card-cacti " th:each="genera : ${allGenera}">
                <a th:href="@{/catalog/{generaName}(generaName=${genera.name})}">
                    <img th:src="${genera.imageURL}" alt="Card image cap"/>
                    <div th:text="${genera.name}"></div>
                </a>
            </div>
        </div>
        <div class="sidebar">
            <div class="did-you-know" th:if="${fact}">
                <h5>Did You Know?</h5>
                <p th:text="${fact}"></p>
            </div>

            <div class="recently-added" th:if="${fact}">
                <h5>Recently Added</h5>
                <a th:each="specie : ${recentlyAdded}" th:text="${specie.name}" th:href="@{/catalog/species/{id}(id=${specie.id})}"></a>
                <p th:if="${#lists.size(recentlyAdded) == 0}">No species have been added yet.</p>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
