<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center">Genera Catalogue</h1>

    <div class='catalog'>
        <div>
            <h5 class="text-center" th:if="${allGenera.getTotalElements() == 0}">There are no genera available yet. :(</h5>
            <div class="card-container">
                <div class="card-cacti " th:each="genera : ${allGenera}">
                    <a th:href="@{/catalog/{generaName}(generaName=${genera.name})}">
                        <img th:src="${genera.imageURL}" alt="Card image cap"/>
                        <div th:text="${genera.name}"></div>
                    </a>
                </div>
            </div>
            <div aria-label="Page navigation" th:if="${allGenera.getTotalPages()>1}">
                <ul class="pagination">

                    <!-- First page logic start -->
                    <li class="" th:classappend="${allGenera.isFirst()} ? 'disabled' : ''">
                        <a th:if="${allGenera.isFirst()}" class="disabled" href="#" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:unless="${allGenera.isFirst()}" class=""
                           th:href="@{/catalog(size=${allGenera.getSize()})}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- EO: First page logic start -->

                    <li class="" th:classappend="${allGenera.isFirst()} ? 'disabled' : ''">
                        <a class="" th:unless="${allGenera.isFirst()}"
                           th:href="@{/catalog(size=${allGenera.getSize()}, page=${allGenera.getPageable().getPageNumber()-1})}">Previous</a>
                        <a class="disabled" th:if="${allGenera.isFirst()}">Previous</a>
                    </li>

                    <li class="" th:each="page : ${#numbers.sequence(0, allGenera.getTotalPages()-1)}"
                        th:classappend="${allGenera.getPageable().getPageNumber() == page} ? 'disabled' : ''">
                        <a class="" th:unless="${allGenera.getPageable().getPageNumber() == page}"
                           th:href="@{/catalog(size=${allGenera.getSize()}, page=${page})}" th:text="${page+1}">#</a>
                        <a class="disabled" th:if="${allGenera.getPageable().getPageNumber() == page}"
                           th:text="${page+1}">#</a>
                    </li>

                    <li class="" th:classappend="${allGenera.isLast()} ? 'disabled' : ''">
                        <a class="" th:unless="${allGenera.isLast()}"
                           th:href="@{/catalog(size=${allGenera.getSize()}, page=${allGenera.getPageable().getPageNumber()+1})}">Next</a>
                        <a class="disabled" th:if="${allGenera.isLast()}">Next</a>
                    </li>

                    <!--                    <li class="page-item"><a class="page-Link" href="#">3</a></li>-->

                    <!-- Last page logic start -->
                    <li class="" th:classappend="${allGenera.isLast()} ? 'disabled' : ''">
                        <a th:if="${allGenera.isLast()}" class="disabled" href="#" aria-label="Last">
                            <span aria-hidden="true">&raquo; </span>
                        </a>
                        <a th:unless="${allGenera.isLast()}" class=""
                           th:href="@{/catalog(size=${allGenera.getSize()}, page=${allGenera.getTotalPages()-1})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo; </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <div class="did-you-know" th:if="${fact}">
                <h5>Did You Know?</h5>
                <p th:text="${fact}"></p>
            </div>

            <div class="recently-added">
                <h5>Recently Added</h5>
                <a th:each="specie : ${recentlyAdded}" th:text="${specie.name}"
                   th:href="@{/catalog/species/{id}(id=${specie.id})}"></a>
                <p th:if="${#lists.size(recentlyAdded) == 0}">No species have been added yet.</p>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
