<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class=""><span class="">Login</span></h1>
    <form class="form-submit" th:action="@{/auth/login}" th:method="POST" th:object="${userLogin}">

        <div class="field">
        <div class="error" th:if="${error}" th:text="${error}">Error</div>
            <label for="username" class="">Username</label>
        <input type="text" class="" id="username" name="username" placeholder="Enter username"/>
        </div>


        <div class="field">
            <label for="password" class="">Password</label>
        <input type="password" class="" id="password" name="password" placeholder="Enter password"/>
        </div>

        <button class="submit-btn" type="submit">Log In</button>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
