<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <h1>My Profile</h1>
    <div class="details-container">

        <div class="details-row">
            <div><strong>Username:</strong></div>
            <p th:text="${userProfile.username}"></p>
        </div>
        <div class="details-row">
            <div><strong>First name:</strong></div>
            <p th:text="${userProfile.firstName}"></p>
        </div>
        <div class="details-row">
            <div><strong>Last name:</strong></div>
            <p th:text="${userProfile.lastName}"></p>
        </div>
        <div class="details-row">
            <div><strong>Email:</strong></div>
            <p th:text="${userProfile.email}"></p>
        </div>
    </div>

    <div class="details-container">
        <h4 class="">My species</h4>
        <p class="text-center">You have not submitted any species. Submissions which have not been approved for more
            than 30 days are automatically deleted.</p>
        <div class="table-row" th:if="${#lists.size(userProfile.addedSpecies) > 0}"
             th:each="species : ${userProfile.addedSpecies}">
            <div class="status approved" th:if="${species.approved}">Approved</div>
            <div class="status in-review" th:unless="${species.approved}">In Review</div>
            <span th:unless="${species.approved}" th:text="${species.name}"></span>
            <a th:if="${species.approved}" th:href="@{'/catalog/species/' + ${species.id}}"
               th:text="${species.name}"></a>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
