<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <h1 th:if="${all}" class="text-center mt-2"><span >Species Catalogue</span></h1>
    <h1 th:unless="${all}" class="text-center mt-2"><span th:text="${species[0].genera.name + ' Catalogue'}">Species Catalogue</span></h1>
    <div class="card-container">

        <div class="card-cacti" th:each="specie : ${species}">
            <a th:href="@{/catalog/species/{id}(id=${specie.id})}">
                <img th:src="${specie.imageURL}" alt="Card image cap"/>
                <div th:text="${specie.name}"></div>
                <div class="genera" th:text="${'Genera: ' + specie.genera.name}"></div>
            </a>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
