<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container">
        <div class="row">
            <img class="card-img-top w-25" th:src="${species.imageURL}" alt="Card image cap"/>
        </div>
        <div class="row">
            <div>Name: <strong th:text="${species.name}"></strong></div>
        </div>
        <div class="row">
            <div>Genera: <strong th:text="${species.genera.name}"></strong></div>
        </div>
        <div class="row">
            <div>Description: <strong th:text="${species.description}"></strong></div>
        </div>
        <div class="row">
            <div>Cultivation: <strong th:text="${species.cultivation}"></strong></div>
        </div>
        <div class="row">
            <div>Cold Hardiness: <strong th:text="${species.coldHardiness}"></strong></div>
        </div>

    </div>

    <div class="questions">
        <div class="question" th:if="${#lists.size(species.questions)>0}" th:each="question : ${species.questions}">
            <h5 th:text="${question.askedBy.username}"></h5>
            <p th:text="${question.content}"></p>
            <p class="date" th:text="${#temporals.format(question.askedOn, 'yyyy MMM dd') + ' at ' + #temporals.format(question.askedOn, 'HH:mm')}"></p>
        </div>
        <div class="question" th:unless="${#lists.size(species.questions)>0}">
            <p class="">No questions are present. Be the first one to ask a question. Registration needed.</p>
        </div>
        <form th:method="POST" th:action="@{/question/{id}(id=${species.id})}" th:object="${addQuestion}">
            <label for="content">Add Question</label>
            <textarea id="content" th:field="*{content}" placeholder="Enter your question"></textarea>
            <input class="submit-btn" type="submit" value="Post Question"/>
        </form>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
