<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container text-white">
        <div class="row">
            <img class="card-img-top w-25" th:src="${species.imageURL}" alt="Card image cap"/>
        </div>
        <div class="row">
            <div>Name: <strong th:text="${species.name}"></strong></div>
        </div>
        <div class="row">
            <div>Family: <strong th:text="${species.family.name}"></strong></div>
        </div>

    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
