<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1>Thank you!</h1>
    <div class="details-container">
        <p class="text-center">Thank you for submitting a new species! The species will be reviewed by an Administrator before publishing!
            </p> <p class="text-center">If your species is not approved it will be automatically deleted after 30 days.</p>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
